/*************************************************************************************************
 * Tout élément du jeu doit inclure cette classe afin que ses coordonnées absolues correspondent *
 * aux coordonnées relatives à la .game-window déclarée dans styles.css                          *
 *************************************************************************************************/
.game {
	/*margin-left: calc(50vw - 400px);
    margin-top: calc(50vh - 300px);*/
}

/********************
 * Vaisseau spacial *
 ********************/
.spaceship {
	background-image: url('../images/spaceship.png');
	background-size: 100% 100%;
	position: absolute;
	height: 8vh; /* taille en px vituels convertie en vh => taille_vh = 100 / (hauteur_jeu_px / taille_vaisseau_px)  */
	width: 8vh;
	transform-origin: center;
}

/*******
 * Tir *
 *******/
.shot {
	border-radius: 50%;
	background: radial-gradient(closest-side, #ff3f3f, #ffbd00, #ffed93, #5698bf);
	position: absolute;
}

/*****************************
 * Astéroïde et barre de vie *
 *****************************/
.asteroid {
	background-image: url('../images/asteroide.png');
	background-size: 100% 100%;
	position: absolute;
}
.life-bar {
	box-shadow: 0 0 3px rgb(255 255 255 / 50%);
	background-color: transparent;
	text-align: left;
	height: 0.5vh;
	position: absolute;
	transform: translateY(-10px);
}
.life-bar .life-ink {
	height: 100%;
	background-color: red;
	box-shadow: 1px 0 darkred;
}

/**********
 * Hitbox *
 **********/
.hitbox {
	background: radial-gradient(circle at center, darkgreen 1%, rgba(255,255,255,0.6) 2%, rgba(255,255,255,0.6) 99%, white 100%);
	border-radius: 50%;
}

/*********
 * Bonus *
 *********/
.bonus {
	color : #b93108;
	background: rgb(255 215 0 / 70%);
	font-weight: bolder;
	font-family: sans-serif;

	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 35px rgb(255 215 0 / 70%);

	display: flex;
	justify-content: center;
	align-items: center;
}

/*************
 * Explosion *
 *************/
.explosion {
	border-radius: 50%;
	animation: explode 0.5s linear; 
	position: absolute;
}
/** Animation explosion */
@keyframes explode {
    0% { background: radial-gradient(closest-side, rgb(255, 0, 0) 0%, transparent 20%); }
   15% { background: radial-gradient(closest-side, rgb(255,195,0) 15%, rgb(255, 0, 0) 30%, transparent 50%); }
   30% { background: radial-gradient(closest-side, rgb(255,255,0) 15%, rgb(255,195,0) 30%, rgb(255, 0, 0) 50%, transparent 70%); }
   45% { background: radial-gradient(closest-side, transparent 15%, rgb(255,195,0) 30%, rgb(255, 0, 0) 50%, transparent 70%); }
   60% { background: radial-gradient(closest-side, transparent 30%, rgb(255, 0, 0) 50%, transparent 70%); }
   75% { background: transparent; }
}

/****************
 * Clignotement *
 ****************/
.blink {
	animation: blink-animation 0.5s steps(5, start) infinite;
	-webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation { to { opacity: 30%; } }
