/*** Le HUD n'est visible que sur appareils mobiles ***/
.hud { opacity: 0; }
@media screen and (max-width:1024px) { 
	.hud { opacity: 0.7; } 
}

.hud .button {
	position: absolute;
	border-radius: 50%;
	background: radial-gradient(circle at center, white 10%, transparent);
	width: 15vh;
	height: 15vh;
}

.hud .button.left {
	bottom: 25vh;
	left: 10vh;
}

.hud .button.right {
	bottom: 25vh;
	left: 40vh;
}

.hud .button.forward {
	bottom: 40vh;
	left: 25vh;
}

.hud .button.backward {
	bottom: 10vh;
	left: 25vh;
}

.hud .button.fire {
	height: 35vh;
	width: 35vh;
	bottom: 5vh;
	right: 5vh;
}

.hud .pause {
	height: 20vh;
	width: 20vh;
	top: 10vh;
	right: 10vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: black;
	font-family: Impact;
	font-size: 10vh;
}