body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/** Fenêtre de jeu (conteneur) */
.game-window {
	width: 100vw;
	height: 100vh;
	border-radius: 3px;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

/** Ecran de pause */
div#pause-div {  /* disparaît dans la prochaine mise à jour */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.1) 100%);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div#pause-div > span {
	opacity: 80%;
	color: orange;
	font-size: 250px;
	border-radius: 50%;
	border: 20px solid orange;
	font-family: cursive;
	box-shadow: 0px 0px 100px rgb(255 200 0 / 70%);
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
}

/*********************************************************************
 *                              Magasin                              *
 *********************************************************************/
.owned-money {
	padding: 1.3vh;
	margin: 0.5vh;
	width: calc(100% - 3.6vh);
	font-family: monospace;
  font-size: 2.6vh;
	background: radial-gradient(#ff7c27, #ffb225);
	box-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
	border-radius: 3px;
	color: #ffd816;
}
.shop-item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

/**
 * Article du magasin
 */
.shop-item {
	margin: 0.5vh;
	padding: 1vh;
	width: calc(50% - 3vh);
	background: linear-gradient(to bottom, #728eab, #ccd9ed);
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
	text-shadow: 0px 0px 10px white;
	cursor: pointer;
	user-select: none;
	height: 15vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.shop-item:hover { background: linear-gradient(to bottom, #69abd3, #EEE); }
.shop-item:active {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	transform: translate(1px, 1px);
}
.shop-item-name {
	font-size: 2.6vh;
	font-family: impact;
}
.shop-item-desc {
	font-family: cursive;
	font-size: 1.5vh;
	text-align: justify;
	text-indent: 2em;
	margin-bottom: 1vh;
}
.shop-item-price {
	font-family: monospace;
	font-size: 1.9vh;
}
.shop-item-price.too-expensive { color: #c90000; }
.shop-item-effect {
	margin-bottom: 0.5vh;
	font-size: 1.3vh;
	font-family: sans-serif;
}
.shop-item-effect .green { color: #006000; }
.shop-item-effect .blue { color: #2266ff; }

/** Plus utile */
.shop-blabla {
	font-family: cursive;
	font-size: 1.7vh;
	text-align: justify;
	margin: 1vh;
	width: calc(100% - 2vh);
	margin-block-start: 0;
	margin-block-end: 0;
}
.shop-blabla.welcome-text { font-size: 1.9vh; }
img.in-text { width: 3vh; }

/**
 * Bouton lançant la vague suivante et fermant le magasin
 */
input.start-wave-button {
	font-family: Monospace;
	font-weight: bolder;
	font-size: 3.4vh;
	color: white;
	text-shadow: 1px 1px black;
	width: 40%;
	height: 8vh;
	background: linear-gradient(to bottom, #864c01, #d58b00);
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
	cursor: pointer;
}
input.start-wave-button:hover { background: linear-gradient(to bottom, #bf6d02, #f09d00); }
input.start-wave-button:active {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	transform: translate(1px, 1px);
}
/**
 * Bouton paramètres
 */
button img {
    width: 95%;
    height: 95%;
}

/**
 * Boutons de sauvegarde et chargement (et boutons de la popup de confirmation)
 */
.button, .rs-btn-action.main-form {
	border-radius: 5px;
	height: 6vh;
	width: 30vh;
	color: white;
	border: none;
	margin-top: 2vh;
	cursor: pointer;

	font-size: 2vh;
	font-family: Monospace;
	font-weight: bolder;
	text-shadow: 1px 1px 1px black;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
}
.button:hover, .rs-btn-action.main-form:hover { opacity: 0.8; }
.button:active, .rs-btn-action.main-form:active {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	transform: translate(1px, 1px);
}
.save, .rs-btn-suppr { background: linear-gradient(to bottom, red, #ff5400); }
.load, .rs-btn-create { background: linear-gradient(to bottom, #1a4800, #399d00); }
.paramters {
	height: 7vh;
	width: 7vh;
	margin-right: 1vh;
	margin-top: 1vh;
	background: linear-gradient(to bottom, #5e84bf, #78a0b9);
	border: none;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/**
 * Rapport de fin de vague
 */
.dialog-body {
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dialog-footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-report {
	background: url('gold_bag.png');
	background-size: 100% 100%;
	height: 15vh;
	width: 15vh;
	margin: 2vh;
}

.report-title {
	font-family: impact;
	font-size: 3.2vh;
	font-style: italic;
	padding-top: 1.5vh;
	margin-bottom: 1.5vh;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.report-text {
	background: linear-gradient(to bottom, black, gray);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.report-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    font-size: 2.5vh;
}

.report-total {
	font-size: 3.7vh;
	margin-bottom: 3vh;
	font-weight: bold;
	padding-top: 2vh;
	padding-bottom: 2vh;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.rs-modal-content p {
	margin-left: 2.5vh;
	margin-right: 2.5vh;
	width: calc(100% - 5vh);
	font-family: cursive;
	font-size: 3.5vh;
	font-weight: bold;
	text-align: justify;
	text-indent: 6vh;
	margin-block-start: 0.5em;
	margin-block-end: 0;
}

/**
 * Popup parmètres
 */
.pref-title { width: 20%; }
.pref-value { width: 50%; }
